* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrap {
    width: 90%;
    margin: 60px auto;
    position: relative;
}

#head {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.tab {
    background-color: #333;
    width: 200px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}

img {
    width: 78%;
}

.button {
    width: 200px;
    height: 50px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 0;
    right: 0;
}