* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrap {
    width: 90%;
    margin: 60px auto;
    position: relative;
}

#head {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.tab2 {
    background-color: rgb(151, 0, 0);
    width: 200px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}

.p2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

#imgWrap {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
}

#imgWrap img {
    width: 282px;
    height: 282px;
}

#imgWrap img:hover {
    scale: 1.1;
    cursor: pointer;
    transition: all 0.4s ease-in;
}